header {
  background-color:rgb(89, 180, 241);
  margin: 0%;
  padding: 0%;
}

h1 {
  color: black;
  text-decoration: none;
  font-size: 50px;
  margin-left: 27%;
}

.title {
  text-decoration: none;
}

.title:hover{
  color: white;
}

.links {
  margin: 10px;
}

.pHeader {
  margin-left: 30%;
  font-size: 40px;
}

.loginBtn {
  margin-left: 85%;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.about { 
  width: 65%;
  margin-left: 18%;
  margin-top: 4%;
  font-size: 25px;
}
.team {
  margin-left: 35%;
  margin-top: 5%;
}
.hire {
  font-size: 30px;
  background-color:lightblue;
  text-decoration: none;
  padding: 20px;
  border-radius: 5%;
  color: black;
}

.join {
  font-size: 30px;
 margin-left: 30px;
 text-decoration: none;
 background-color:lightblue;
 border-radius: 5%;
 padding: 20px;
 color: black;
}

.signupForm {
  margin-left: 30%;
}

.cardContainer {
  margin-left: 40%;
  border: solid black 2px;
  width: 20%;
  height: 330px;
  margin-top: 20px;
}

 .workerName {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
 }

 .worker {
  font-weight: bold;
  margin-left: 8px;
  font-size: 20px;
}

.hireBtn {
  background-color: red;
  padding: 10px;
  margin-left: 45%;
}

.form-input {
  height: 20px;
  width: 500px;
}

.submit {
  margin-top: 10px;
  background: white;
  padding: 5px;
  border-radius: 10px;
  margin-left: 15% ;
}

.loginForm {
  margin-left: 35%;
}

.loginInfo {
  font-size: 30px;
  font-weight: bold;
}

.loginInput {
  height: 25px;
  width: 300px;
}

.loginFormBtn {
  margin-top: 10px;
  margin-left: 40%;
  padding: 5px;
  font-size: 20px;
}

footer {
  text-align: center;
}