header {
  background-color:rgb(89, 180, 241);
  margin: 0px;
  padding: 0px;
}

h1 {
  color: black;
  text-decoration: none;
  font-size: 50px;
  margin-left: 27%;
}

.title{
  text-decoration: none;
}

.title:hover{
  color: white;
}

.links {
  margin: 10px;
}

.pHeader {
  margin-left: 30%;
  font-size: 40px;
}

.loginBtn {
  margin-left: 85%;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.info { 
  width: 65%;

  font-size: 25px;
}

.team {
  display: flex;
  
}

.btn {
  font-size: 25px;
  background-color:lightblue;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  color: black;
  width: 12%;
  text-align: center;
  margin: 5px;
}

.hire:hover {
  width: 15%;
  height: 50%;
  padding: 20px;
}

.part:hover {
  width: 15%;
  padding: 20px;
}

.signupForm {
  margin-left: 30%;
}
.workContainer {
 display: grid;
 grid-template-columns: repeat(3, auto );
}

.cardContainer {
 margin-top: 15px;
 margin-left: 15%;
 border: solid black 2px;
 width: 40%;
 height: 90%;
 justify-content: center;
 align-items: center;
 border-radius: 10px;
}

 .workerName {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}

.workerName:hover {
  font-size: 35px;
  color: black;
}

 .worker {
  font-weight: bold;
  margin-left: 8px;
  font-size: 20px;
}

.hireBtn {
  background-color: red;
  padding: 10px;
  margin-left: 45%;
}

.form-input {
  height: 20px;
  width: 500px;
}

.submit {
  margin-top: 10px;
  background: white;
  padding: 5px;
  border-radius: 10px;
  margin-left: 15% ;
}

.loginForm {
  margin-left: 35%;
}

.loginInfo {
  font-size: 30px;
  font-weight: bold;
}

.loginInput {
  height: 25px;
  width: 300px;
}

.loginFormBtn {
  margin-top: 10px;
  margin-left: 40%;
  padding: 5px;
  font-size: 20px;
}

footer {
  text-align: center;
}

.container {
  display: block;
  border: 2px black solid;

}
.container2 {
  border: 10px red solid;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.avatar {
  margin-left: 20%;

  height: 150px;
  width: 150px;
}

.singleWorker{
  text-align: center;
  border: 2px black solid;
}
